<a href="https://colab.research.google.com/github/robertoricci/Curso-Python-para-Mercado-Financeiro-Trading-com-Dados/blob/main/Otimiza%C3%A7%C3%A3o_de_Carteira_de_investimentos_com_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Markwitz com Python

Selecionar os ativos

In [2]:
import pandas as pd

In [3]:

df_ibovespa = pd.read_excel('ibov.xlsx')

In [4]:
df_ibovespa

   Código          Ação        Tipo  Qtde. Teórica  Part. (%)
0   RRRP3  3R PETROLEUM  ON      NM      200453863      0.381
1   ALPA4    ALPARGATAS  PN      N1      202765994      0.215
2   ABEV3     AMBEV S/A          ON     4386652506      3.253
3   AMER3    AMERICANAS  ON      NM      596086291      0.526
4   ARZZ3     AREZZO CO  ON      NM       60358029      0.278
..    ...           ...         ...            ...        ...
87  VALE3          VALE  ON      NM     4547296398     15.738
88  VIIA3           VIA  ON      NM     1576975642      0.259
89  VBBR3         VIBRA  ON      NM     1114442976      0.943
90  WEGE3           WEG  ON  EJ  NM     1481593024      2.249
91  YDUQ3    YDUQS PART  ON      NM      296015511      0.199

[92 rows x 5 columns]

In [6]:
ativos = df_ibovespa['Código'].values
ativos

array(['RRRP3', 'ALPA4', 'ABEV3', 'AMER3', 'ARZZ3', 'ASAI3', 'AZUL4',
       'B3SA3', 'BPAN4', 'BBSE3', 'BRML3', 'BBDC3', 'BBDC4', 'BRAP4',
       'BBAS3', 'BRKM5', 'BRFS3', 'BPAC11', 'CRFB3', 'CCRO3', 'CMIG4',
       'CIEL3', 'COGN3', 'CPLE6', 'CSAN3', 'CPFE3', 'CMIN3', 'CVCB3',
       'CYRE3', 'DXCO3', 'ECOR3', 'ELET3', 'ELET6', 'EMBR3', 'ENBR3',
       'ENGI11', 'ENEV3', 'EGIE3', 'EQTL3', 'EZTC3', 'FLRY3', 'GGBR4',
       'GOAU4', 'GOLL4', 'NTCO3', 'SOMA3', 'HAPV3', 'HYPE3', 'IGTI11',
       'IRBR3', 'ITSA4', 'ITUB4', 'JBSS3', 'KLBN11', 'RENT3', 'LWSA3',
       'LREN3', 'MGLU3', 'MRFG3', 'CASH3', 'BEEF3', 'MRVE3', 'MULT3',
       'PCAR3', 'PETR3', 'PETR4', 'PRIO3', 'PETZ3', 'POSI3', 'QUAL3',
       'RADL3', 'RAIZ4', 'RDOR3', 'RAIL3', 'SBSP3', 'SANB11', 'SMTO3',
       'CSNA3', 'SLCE3', 'SULA11', 'SUZB3', 'TAEE11', 'VIVT3', 'TIMS3',
       'TOTS3', 'UGPA3', 'USIM5', 'VALE3', 'VIIA3', 'VBBR3', 'WEGE3',
       'YDUQ3'], dtype=object)

In [7]:
len(ativos)

92

In [9]:
#ordernar o dataframe por ordem alfabética dos codigos
df_ibovespa.sort_values(by=["Código"],inplace=True)

In [10]:
df_ibovespa

   Código          Ação        Tipo  Qtde. Teórica  Part. (%)
2   ABEV3     AMBEV S/A          ON     4386652506      3.253
1   ALPA4    ALPARGATAS  PN      N1      202765994      0.215
3   AMER3    AMERICANAS  ON      NM      596086291      0.526
4   ARZZ3     AREZZO CO  ON      NM       60358029      0.278
5   ASAI3         ASSAI  ON      NM      795949801      0.657
..    ...           ...         ...            ...        ...
89  VBBR3         VIBRA  ON      NM     1114442976      0.943
88  VIIA3           VIA  ON      NM     1576975642      0.259
82  VIVT3  TELEF BRASIL          ON      429455552      0.807
90  WEGE3           WEG  ON  EJ  NM     1481593024      2.249
91  YDUQ3    YDUQS PART  ON      NM      296015511      0.199

[92 rows x 5 columns]

# <center> Série histórica de retornos <center>

In [11]:
import yfinance as yf

In [12]:
ativos = (df_ibovespa['Código'].values+'.SA').tolist()

In [13]:
ativos

['ABEV3.SA',
 'ALPA4.SA',
 'AMER3.SA',
 'ARZZ3.SA',
 'ASAI3.SA',
 'AZUL4.SA',
 'B3SA3.SA',
 'BBAS3.SA',
 'BBDC3.SA',
 'BBDC4.SA',
 'BBSE3.SA',
 'BEEF3.SA',
 'BPAC11.SA',
 'BPAN4.SA',
 'BRAP4.SA',
 'BRFS3.SA',
 'BRKM5.SA',
 'BRML3.SA',
 'CASH3.SA',
 'CCRO3.SA',
 'CIEL3.SA',
 'CMIG4.SA',
 'CMIN3.SA',
 'COGN3.SA',
 'CPFE3.SA',
 'CPLE6.SA',
 'CRFB3.SA',
 'CSAN3.SA',
 'CSNA3.SA',
 'CVCB3.SA',
 'CYRE3.SA',
 'DXCO3.SA',
 'ECOR3.SA',
 'EGIE3.SA',
 'ELET3.SA',
 'ELET6.SA',
 'EMBR3.SA',
 'ENBR3.SA',
 'ENEV3.SA',
 'ENGI11.SA',
 'EQTL3.SA',
 'EZTC3.SA',
 'FLRY3.SA',
 'GGBR4.SA',
 'GOAU4.SA',
 'GOLL4.SA',
 'HAPV3.SA',
 'HYPE3.SA',
 'IGTI11.SA',
 'IRBR3.SA',
 'ITSA4.SA',
 'ITUB4.SA',
 'JBSS3.SA',
 'KLBN11.SA',
 'LREN3.SA',
 'LWSA3.SA',
 'MGLU3.SA',
 'MRFG3.SA',
 'MRVE3.SA',
 'MULT3.SA',
 'NTCO3.SA',
 'PCAR3.SA',
 'PETR3.SA',
 'PETR4.SA',
 'PETZ3.SA',
 'POSI3.SA',
 'PRIO3.SA',
 'QUAL3.SA',
 'RADL3.SA',
 'RAIL3.SA',
 'RAIZ4.SA',
 'RDOR3.SA',
 'RENT3.SA',
 'RRRP3.SA',
 'SANB11.SA',
 'SBSP3.SA',
 'SLCE3.SA',
 'SMTO3.SA',
 'SOMA3.SA',
 'SULA11.SA',
 'SUZB3.SA',
 'TAEE11.SA',
 'TIMS3.SA',
 'TOTS3.SA',
 'UGPA3.SA',
 'USIM5.SA',
 'VALE3.SA',
 'VBBR3.SA',
 'VIIA3.SA',
 'VIVT3.SA',
 'WEGE3.SA',
 'YDUQ3.SA']

In [17]:
start = '2022-01-01'
end = '2022-11-30'

In [56]:
fechamentos = yf.download(tickers = ativos, start = start, end = end, rounding = True)['Adj Close']

[*********************100%***********************]  92 of 92 completed

2 Failed downloads:
- SULA11.SA: No timezone found, symbol may be delisted
- BRML3.SA: No timezone found, symbol may be delisted

In [57]:
fechamentos = fechamentos.reset_index()

In [58]:
fechamentos['Date'] =  pd.to_datetime(fechamentos['Date'].dt.strftime('%Y-%m-%d'))

In [59]:
fechamentos.dtypes

Date        datetime64[ns]
ABEV3.SA           float64
ALPA4.SA           float64
AMER3.SA           float64
ARZZ3.SA           float64
                 ...
VBBR3.SA           float64
VIIA3.SA           float64
VIVT3.SA           float64
WEGE3.SA           float64
YDUQ3.SA           float64
Length: 93, dtype: object

In [60]:
fechamentos.set_index('Date',inplace=True)

In [130]:
#calcular os retornos
retornos = fechamentos.pct_change()

In [136]:
retornos

,ABEV3.SA,ALPA4.SA,AMER3.SA,ARZZ3.SA,ASAI3.SA,AZUL4.SA,B3SA3.SA,BBAS3.SA,BBDC3.SA,BBDC4.SA,...,TIMS3.SA,TOTS3.SA,UGPA3.SA,USIM5.SA,VALE3.SA,VBBR3.SA,VIIA3.SA,VIVT3.SA,WEGE3.SA,YDUQ3.SA
Date,,,,,,,,,,,,,,,,,,,,,
2022-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-04,-0.001374,-0.028863,-0.034171,-0.029508,0.000000,-0.000819,0.021484,0.000765,0.004283,0.006579,...,0.015228,-0.040456,-0.037230,-0.007746,-0.011775,-0.005679,-0.050201,0.000000,-0.005122,-0.016625
2022-01-05,-0.019257,-0.038427,-0.044726,-0.048092,-0.057188,-0.083607,-0.021033,-0.016431,-0.006397,-0.007130,...,-0.009167,-0.044078,-0.027069,-0.058197,0.009445,-0.044133,-0.033827,-0.001367,-0.052767,-0.038422
2022-01-06,-0.016129,0.015923,0.022362,0.018428,-0.033698,0.030859,0.024414,0.008159,0.010730,0.014363,...,-0.006728,0.030874,-0.014308,0.001507,0.020153,-0.007061,-0.045952,-0.016199,-0.000340,-0.001066
2022-01-07,-0.016393,-0.005839,-0.053316,-0.007992,-0.019180,0.036876,0.022879,0.001156,0.004246,0.014159,...,-0.014395,-0.034617,-0.006452,0.048157,0.058276,-0.001641,-0.043578,-0.006725,-0.025144,-0.004267
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-23,0.003360,-0.019964,-0.053571,-0.035004,-0.006176,-0.008668,0.000000,0.012221,-0.003981,-0.006784,...,0.002408,-0.009569,-0.023792,-0.002601,0.009853,-0.028554,-0.021739,0.005127,0.001037,0.000000
2022-11-24,0.020764,0.036420,0.110228,0.057473,0.023822,0.021463,0.055932,0.016299,0.017586,0.019809,...,0.024820,0.043133,0.057883,0.016949,0.006462,0.053784,0.062222,0.012886,0.020979,0.035965
2022-11-25,-0.017060,-0.041096,-0.020572,-0.042432,-0.030349,-0.030350,-0.048154,-0.023166,-0.012569,-0.018754,...,-0.013281,-0.052928,-0.056875,-0.024359,-0.006798,-0.047478,-0.062762,-0.019348,-0.016489,-0.049111
2022-11-28,0.008678,-0.006211,-0.096804,-0.010584,0.005738,0.004815,0.002530,0.017939,-0.003978,-0.000683,...,0.000000,0.000699,0.009924,-0.043364,0.004944,-0.025545,-0.066964,-0.006757,-0.041011,0.005343
2022-11-29,-0.009265,0.016875,0.035389,0.021747,0.004149,-0.031949,0.038688,0.012246,0.015974,0.011612,...,0.003959,0.011867,0.030990,0.060440,0.038724,0.019821,0.028708,-0.000816,0.005648,0.016829

In [140]:
retornos.isna().any(axis=None)

True

In [139]:
retornos.loc[:, retornos.isnull().any()].columns

Index(['BRML3.SA', 'SULA11.SA'], dtype='object')

In [107]:
#retirar o SA dos nomes dos ativos e excluir os valores nulos
retornos.columns = retornos.columns.str.rstrip('.SA')

In [137]:
#excluir somente os que estão com todas vazias 
retornos.dropna(how='all',inplace=True)

In [141]:
retornos['BRML3.SA'].valo

Date
2022-01-04   NaN
2022-01-05   NaN
2022-01-06   NaN
2022-01-07   NaN
2022-01-10   NaN
              ..
2022-11-23   NaN
2022-11-24   NaN
2022-11-25   NaN
2022-11-28   NaN
2022-11-29   NaN
Name: BRML3.SA, Length: 227, dtype: float64

In [122]:
retornos.isnull().values.sum()

454

In [129]:
retornos [retornos['AMER3'].isnull()]

Empty DataFrame
Columns: [ABEV3, ALPA4, AMER3, ARZZ3, ASAI3, AZUL4, B3SA3, BBAS3, BBDC3, BBDC4, BBSE3, BEEF3, BPAC11, BPAN4, BRAP4, BRFS3, BRKM5, BRML3, CASH3, CCRO3, CIEL3, CMIG4, CMIN3, COGN3, CPFE3, CPLE6, CRFB3, CSAN3, CSNA3, CVCB3, CYRE3, DXCO3, ECOR3, EGIE3, ELET3, ELET6, EMBR3, ENBR3, ENEV3, ENGI11, EQTL3, EZTC3, FLRY3, GGBR4, GOAU4, GOLL4, HAPV3, HYPE3, IGTI11, IRBR3, ITSA4, ITUB4, JBSS3, KLBN11, LREN3, LWSA3, MGLU3, MRFG3, MRVE3, MULT3, NTCO3, PCAR3, PETR3, PETR4, PETZ3, POSI3, PRIO3, QUAL3, RADL3, RAIL3, RAIZ4, RDOR3, RENT3, RRRP3, SANB11, SBSP3, SLCE3, SMTO3, SOMA3, SULA11, SUZB3, TAEE11, TIMS3, TOTS3, UGPA3, USIM5, VALE3, VBBR3, VIIA3, VIVT3, WEGE3, YDUQ3]
Index: []

[0 rows x 92 columns]

In [104]:
retornos.drop('2022-01-03')

,ABEV3,ALPA4,AMER3,ARZZ3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
Date,,,,,,,,,,,,,,,,,,,,,
2022-01-04,-0.001374,-0.028863,-0.034171,-0.029508,0.000000,-0.000819,0.021484,0.000765,0.004283,0.006579,...,0.015228,-0.040456,-0.037230,-0.007746,-0.011775,-0.005679,-0.050201,0.000000,-0.005122,-0.016625
2022-01-05,-0.019257,-0.038427,-0.044726,-0.048092,-0.057188,-0.083607,-0.021033,-0.016431,-0.006397,-0.007130,...,-0.009167,-0.044078,-0.027069,-0.058197,0.009445,-0.044133,-0.033827,-0.001367,-0.052767,-0.038422
2022-01-06,-0.016129,0.015923,0.022362,0.018428,-0.033698,0.030859,0.024414,0.008159,0.010730,0.014363,...,-0.006728,0.030874,-0.014308,0.001507,0.020153,-0.007061,-0.045952,-0.016199,-0.000340,-0.001066
2022-01-07,-0.016393,-0.005839,-0.053316,-0.007992,-0.019180,0.036876,0.022879,0.001156,0.004246,0.014159,...,-0.014395,-0.034617,-0.006452,0.048157,0.058276,-0.001641,-0.043578,-0.006725,-0.025144,-0.004267
2022-01-10,0.008696,-0.020093,-0.020218,-0.039064,-0.005333,-0.011297,-0.004660,0.005004,0.013390,0.003490,...,-0.010309,-0.023771,-0.012987,0.047380,-0.012000,-0.007123,-0.038369,0.003035,-0.028930,-0.040171
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-23,0.003360,-0.019964,-0.053571,-0.035004,-0.006176,-0.008668,0.000000,0.012221,-0.003981,-0.006784,...,0.002408,-0.009569,-0.023792,-0.002601,0.009853,-0.028554,-0.021739,0.005127,0.001037,0.000000
2022-11-24,0.020764,0.036420,0.110228,0.057473,0.023822,0.021463,0.055932,0.016299,0.017586,0.019809,...,0.024820,0.043133,0.057883,0.016949,0.006462,0.053784,0.062222,0.012886,0.020979,0.035965
2022-11-25,-0.017060,-0.041096,-0.020572,-0.042432,-0.030349,-0.030350,-0.048154,-0.023166,-0.012569,-0.018754,...,-0.013281,-0.052928,-0.056875,-0.024359,-0.006798,-0.047478,-0.062762,-0.019348,-0.016489,-0.049111
2022-11-28,0.008678,-0.006211,-0.096804,-0.010584,0.005738,0.004815,0.002530,0.017939,-0.003978,-0.000683,...,0.000000,0.000699,0.009924,-0.043364,0.004944,-0.025545,-0.066964,-0.006757,-0.041011,0.005343
2022-11-29,-0.009265,0.016875,0.035389,0.021747,0.004149,-0.031949,0.038688,0.012246,0.015974,0.011612,...,0.003959,0.011867,0.030990,0.060440,0.038724,0.019821,0.028708,-0.000816,0.005648,0.016829

In [96]:
ret

Empty DataFrame
Columns: [ABEV3, ALPA4, AMER3, ARZZ3, ASAI3, AZUL4, B3SA3, BBAS3, BBDC3, BBDC4, BBSE3, BEEF3, BPAC11, BPAN4, BRAP4, BRFS3, BRKM5, BRML3, CASH3, CCRO3, CIEL3, CMIG4, CMIN3, COGN3, CPFE3, CPLE6, CRFB3, CSAN3, CSNA3, CVCB3, CYRE3, DXCO3, ECOR3, EGIE3, ELET3, ELET6, EMBR3, ENBR3, ENEV3, ENGI11, EQTL3, EZTC3, FLRY3, GGBR4, GOAU4, GOLL4, HAPV3, HYPE3, IGTI11, IRBR3, ITSA4, ITUB4, JBSS3, KLBN11, LREN3, LWSA3, MGLU3, MRFG3, MRVE3, MULT3, NTCO3, PCAR3, PETR3, PETR4, PETZ3, POSI3, PRIO3, QUAL3, RADL3, RAIL3, RAIZ4, RDOR3, RENT3, RRRP3, SANB11, SBSP3, SLCE3, SMTO3, SOMA3, SULA11, SUZB3, TAEE11, TIMS3, TOTS3, UGPA3, USIM5, VALE3, VBBR3, VIIA3, VIVT3, WEGE3, YDUQ3]
Index: []

[0 rows x 92 columns]

In [98]:
retornos.shape

(0, 92)

In [88]:
retornos.dro

array([[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
        nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
        nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
        nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
        nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
        nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
        nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
        nan]])

In [79]:
retornos

,ABEV3,ALPA4,AMER3,ARZZ3,ASAI3,AZUL4,B3SA3,BBAS3,BBDC3,BBDC4,...,TIMS3,TOTS3,UGPA3,USIM5,VALE3,VBBR3,VIIA3,VIVT3,WEGE3,YDUQ3
Date,,,,,,,,,,,,,,,,,,,,,
2022-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-04,-0.001374,-0.028863,-0.034171,-0.029508,0.000000,-0.000819,0.021484,0.000765,0.004283,0.006579,...,0.015228,-0.040456,-0.037230,-0.007746,-0.011775,-0.005679,-0.050201,0.000000,-0.005122,-0.016625
2022-01-05,-0.019257,-0.038427,-0.044726,-0.048092,-0.057188,-0.083607,-0.021033,-0.016431,-0.006397,-0.007130,...,-0.009167,-0.044078,-0.027069,-0.058197,0.009445,-0.044133,-0.033827,-0.001367,-0.052767,-0.038422
2022-01-06,-0.016129,0.015923,0.022362,0.018428,-0.033698,0.030859,0.024414,0.008159,0.010730,0.014363,...,-0.006728,0.030874,-0.014308,0.001507,0.020153,-0.007061,-0.045952,-0.016199,-0.000340,-0.001066
2022-01-07,-0.016393,-0.005839,-0.053316,-0.007992,-0.019180,0.036876,0.022879,0.001156,0.004246,0.014159,...,-0.014395,-0.034617,-0.006452,0.048157,0.058276,-0.001641,-0.043578,-0.006725,-0.025144,-0.004267
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-23,0.003360,-0.019964,-0.053571,-0.035004,-0.006176,-0.008668,0.000000,0.012221,-0.003981,-0.006784,...,0.002408,-0.009569,-0.023792,-0.002601,0.009853,-0.028554,-0.021739,0.005127,0.001037,0.000000
2022-11-24,0.020764,0.036420,0.110228,0.057473,0.023822,0.021463,0.055932,0.016299,0.017586,0.019809,...,0.024820,0.043133,0.057883,0.016949,0.006462,0.053784,0.062222,0.012886,0.020979,0.035965
2022-11-25,-0.017060,-0.041096,-0.020572,-0.042432,-0.030349,-0.030350,-0.048154,-0.023166,-0.012569,-0.018754,...,-0.013281,-0.052928,-0.056875,-0.024359,-0.006798,-0.047478,-0.062762,-0.019348,-0.016489,-0.049111
2022-11-28,0.008678,-0.006211,-0.096804,-0.010584,0.005738,0.004815,0.002530,0.017939,-0.003978,-0.000683,...,0.000000,0.000699,0.009924,-0.043364,0.004944,-0.025545,-0.066964,-0.006757,-0.041011,0.005343
2022-11-29,-0.009265,0.016875,0.035389,0.021747,0.004149,-0.031949,0.038688,0.012246,0.015974,0.011612,...,0.003959,0.011867,0.030990,0.060440,0.038724,0.019821,0.028708,-0.000816,0.005648,0.016829